*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 67px;
  top: 244px;
  width: 432px;
  height: 470px;
	animation: fadeInLeft 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_3 {
	position: absolute;
  left: 498px;
  top: 244px;
  width: 459px;
  height: 470px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_4 {
	position: absolute;
  left: 103px;
  top: 446px;
  width: 105px;
  height: 54px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s1_5 {
	position: absolute;
  left: 270px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 1s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}