*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1280px;
	height: 726px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 32px;
  top: 254px;
  width: 992px;
  height: 424px;
	animation: backInRight 0.7s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_3 {
	position: absolute;
  left: 75px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s1_4 {
	position: absolute;
  left: 103px;
  top: 446px;
  width: 105px;
  height: 54px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s1_5 {
	position: absolute;
  left: 270px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 1s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}