*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 817px;
  top: 97px;
  width: 131px;
  height: 133px;
	animation: flipInY 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_3 {
	position: absolute;
  left: 204px;
  top: 421px;
  width: 185px;
  height: 68px;
	animation: zoomIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_4 {
	position: absolute;
  left: 411px;
  top: 420px;
  width: 187px;
  height: 69px;
	animation: zoomIn 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_5 {
	position: absolute;
  left: 604px;
  top: 417px;
  width: 243px;
  height: 72px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_6 {
	position: absolute;
  left: 432px;
  top: 243px;
  width: 160px;
  height: 113px;
	animation: stampIn 0.2s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_7 {
	position: absolute;
  left: 245px;
  top: 674px;
  width: 268px;
  height: 28px;
	animation: fadeInRight 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_8 {
	position: absolute;
  left: 432px;
  top: 243px;
  width: 160px;
  height: 113px;
	animation: stampIn 0.2s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_9 {
	position: absolute;
  left: 660px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 2.6s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_10 {
	position: absolute;
  left: 682px;
  top: 446px;
  width: 118px;
  height: 78px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_11 {
	position: absolute;
  left: 856px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 3.4s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_12 {
	position: absolute;
  left: 871px;
  top: 446px;
  width: 125px;
  height: 109px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3.8s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_13 {
	position: absolute;
  left: 1051px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 4.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_14 {
	position: absolute;
  left: 1060px;
  top: 446px;
  width: 145px;
  height: 80px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 4.6s;
	animation-fill-mode: both;
	z-index: 5;
}

@keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


.hit_1, .hit_2  {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 206px;
  top: 484px;
  width: 286px;
  height: 237px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 534px;
  top: 484px;
  width: 286px;
  height: 237px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}