*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 354px;
  top: 325px;
  width: 363px;
  height: 363px;
	animation: rotateIn 1s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_3 {
	position: absolute;
  left: 65px;
  top: 296px;
  width: 447px;
  height: 434px;
	animation: fadeInLeft 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_4 {
	position: absolute;
  left: 569px;
  top: 296px;
  width: 402px;
  height: 433px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_5 {
	position: absolute;
  left: 398px;
  top: 332px;
  width: 229px;
  height: 207px;
	animation: fadeInRight 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_6 {
	position: absolute;
  left: 557px;
  top: 422px;
  width: 228px;
  height: 208px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_7 {
	position: absolute;
  left: 715px;
  top: 332px;
  width: 228px;
  height: 207px;
	animation: fadeInRight 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_8 {
	position: absolute;
  left: 421px;
  top: 591px;
  width: 182px;
  height: 129px;
	animation: stampIn 0.3s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_9 {
	position: absolute;
  left: 660px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 2.6s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_10 {
	position: absolute;
  left: 682px;
  top: 446px;
  width: 118px;
  height: 78px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_11 {
	position: absolute;
  left: 856px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 3.4s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_12 {
	position: absolute;
  left: 871px;
  top: 446px;
  width: 125px;
  height: 109px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3.8s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_13 {
	position: absolute;
  left: 1051px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 4.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_14 {
	position: absolute;
  left: 1060px;
  top: 446px;
  width: 145px;
  height: 80px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 4.6s;
	animation-fill-mode: both;
	z-index: 5;
}

@keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes rotateInLoop {
	0%  {
		-webkit-transform: rotate(0deg);
	}
	100%	{
		-webkit-transform: rotate(359deg);
	}
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes fadeInRightLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}