*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 522px;
  top: 340px;
  width: 397px;
  height: 79px;
	animation: slideInRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_3 {
	position: absolute;
  left: 522px;
  top: 441px;
  width: 397px;
  height: 80px;
	animation: slideInRight 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_4 {
	position: absolute;
  left: 522px;
  top: 542px;
  width: 397px;
  height: 80px;
	animation: slideInRight 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_5 {
	position: absolute;
  left: 715px;
  top: 493px;
  width: 104px;
  height: 97px;
	animation: zoomIn 0.3s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_6 {
	position: absolute;
  left: 252px;
  top: 446px;
  width: 173px;
  height: 108px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 1.4s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_7 {
	position: absolute;
  left: 465px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_8 {
	position: absolute;
  left: 488px;
  top: 446px;
  width: 109px;
  height: 85px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_9 {
	position: absolute;
  left: 660px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 2.6s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_10 {
	position: absolute;
  left: 682px;
  top: 446px;
  width: 118px;
  height: 78px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_11 {
	position: absolute;
  left: 856px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 3.4s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_12 {
	position: absolute;
  left: 871px;
  top: 446px;
  width: 125px;
  height: 109px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3.8s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_13 {
	position: absolute;
  left: 1051px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 4.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_14 {
	position: absolute;
  left: 1060px;
  top: 446px;
  width: 145px;
  height: 80px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 4.6s;
	animation-fill-mode: both;
	z-index: 5;
}

@keyframes rotateInLoop {
	0%  {
		-webkit-transform: rotate(0deg);
	}
	100%	{
		-webkit-transform: rotate(359deg);
	}
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}