*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 457px;
  top: 183px;
  width: 306px;
  height: 305px;
	animation: rotateInLoop 60s infinite linear;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_3 {
	position: absolute;
  left: 540px;
  top: 258px;
  width: 155px;
  height: 154px;
	animation: zoomIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_4 {
	position: absolute;
  left: 249px;
  top: 24px;
  width: 447px;
  height: 388px;
	animation: zoomIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	transform-origin: bottom Right;
	display: none;
	z-index: 8;
}

.s1_5 {
	position: absolute;
  left: 398px;
  top: 332px;
  width: 229px;
  height: 207px;
	animation: fadeInRight 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.hit_1 {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 15;
}

.hit_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}

@keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes rotateInLoop {
	0%  {
		-webkit-transform: rotate(0deg);
	}
	100%	{
		-webkit-transform: rotate(359deg);
	}
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes fadeInRightLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}