*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 530px;
  top: 57px;
  width: 494px;
  height: 209px;
	animation: fadeInRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_3 {
	position: absolute;
  left: 126px;
  top: 65px;
  width: 285px;
  height: 228px;
	animation: backInUp 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_4 {
	position: absolute;
  left: 0px;
  top: 342px;
  width: 494px;
  height: 208px;
	animation: fadeInLeft 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_5 {
	position: absolute;
  left: 517px;
  top: 383px;
  width: 441px;
  height: 135px;
	animation: backInDown 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 4;
}